<%- include ./partials/header.ejs %>
<%- include ./partials/sidebar.ejs %>
<div id="colorlib-main">
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container px-md-0">
            <div class="row d-flex no-gutters">
                <% for(var i=0; i < photos.length; i++){ %>
                    <div class="col-md-4 portfolio-wrap-2">
                        <div class="row no-gutters align-items-center">
                            <div href="<%= photos[i].thumbnail %>" class="img w-100 js-fullheight d-flex align-items-center" style="background-image: url('<%= photos[i].thumbnail %>');">
                                <div class="text p-4 p-md-5 ftco-animate">
                                    <div class="desc">
                                        <div class="top">
                                            <span class="subheading"><%= photos[i].category %></span>
                                            <h2 class="mb-4"><a href="/gallery/<%= photos[i].slug %>"><%= photos[i].titleName %></a></h2>
                                            <p><a href="/gallery/<%= photos[i].slug %>" class="custom-btn">View Portfolio</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
</div><!-- END COLORLIB-MAIN -->

<%- include ./partials/footer.ejs %>