<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADMIN PAGE - MASAMASAPHOTOGRAPHY</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- <div class="loading" id="loadingbar">Loading&#8230;</div> -->
  <div class="container">
    <div class="row h-100">
      <div class="col-sm-12 col-md-6 mx-auto align-self-center">
        <div class="">
          <div class="mb-2">
            <%- include ./partials/message.ejs %>
          </div>
          <h1 class="text-center">Hi, Resky. Silahkan upload foto anda!</h1>
          <form id="formtarget" action="/admin/upload" method="POST" enctype="multipart/form-data" class="pt-5">
            <div class="col-12 mb-2">
              <div class="form-grup">
                <label for="folder">Masukan Nama Folder : <span class="text-danger">Dilarang Symbol ( #!@$%^&* )</span></label>
                <input type="text" name="folder" id="folder" class="form-control" required placeholder="Masukan Judul..">
              </div>
            </div>
            <div class="col-12 mb-2">
              <div class="form-group">
                <label for="title">Masukan Judul :</label>
                <input type="text" name="title" class="form-control" required placeholder="Masukan Judul..">
              </div>
            </div>
            <div class="col-12 mb-2">
              <div class="form-group">
                <label for="title">Masukan Hightlight Judul :</label>
                <input type="text" name="hightlightTitle" class="form-control" required placeholder="Masukan Hightlight Judul..">
              </div>
            </div>
            <div class="col-12 mb-2">
              <div class="form-group">
                <label for="title">Masukan Nama Client :</label>
                <input type="text" name="client" class="form-control" required placeholder="Masukan Client..">
              </div>
            </div>
            <div class="col-12 mb-2">
              <div class="form-group">
                <label for="title">Masukan Tanggal Project :</label>
                <input type="date" name="dateProject" class="form-control" required placeholder="Masukan Client..">
              </div>
            </div>
            <div class="col-12 mb-2">
              <div class="form-group">
                <label for="title">Masukan Nama Anggota Team Project :</label>
                <input type="text" name="team" class="form-control" required placeholder="Team anda..">
              </div>
            </div>
            <div class="col-12 mb-2">
              <div class="form-group">
                <label for="title">Masukan Services Project :</label>
                <input type="text" name="services" class="form-control" required placeholder="ex: Nature, Wedding dan Potrait">
              </div>
            </div>
            <div class="col-12 mb-2">
              <div class="form-group">
                <label for="desc">Masukan Deskripsi :</label>
                <textarea name="desc" class="form-control" cols="30" rows="5"></textarea>
              </div>
            </div>
            <div class="col-12">
              <label for="category">Pilih Kategori</label>
              <select name="category" class="form-control">
                <option value="portrait">Portrait</option>
                <option value="wedding">Wedding</option>
                <option value="prewedding">Prewedding</option>
              </select>
            </div>
            <div class="d-flex col-12 mt-3">
              <input type="file" name="image" class="form-control mr-2" multiple>
              <button class="btn btn-primary" type="submit">Simpan</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 text-center py-5">
        <h2>List Folder ( *Delete Only )</h2>
        <div class="d-flex my-3">
          <% if(photos.length > 0) { %>
            <% for(var i=0; i < photos.length; i++) { %>
              <div class="card mr-5" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= photos[i].titleName %></h5>
                  <p class="card-text"><%= photos[i].category %></p>
                  <p class="card-text">Jumlah Photo: <%= photos[i].photo.length %></p>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#photoImage-<%= photos[i]._id %>">
                    Delete Folder
                  </button>
      
                  <!-- Modal -->
                  <div class="modal fade" id="photoImage-<%= photos[i]._id %>" tabindex="-1" role="dialog" aria-labelledby="photoImageLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="photoImageLabel">Hapus Folder <%= photos[i].titleName %> ?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Apakah anda yakin untuk menghapus folder dengan nama <%= photos[i].titleName %>,
                          dengan jumlah photo : <%= photos[i].photo.length %> ?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Batalkan</button>
                          <form action="/admin/delete-folder/<%= photos[i]._id %>?_method=DELETE" method="post" style="display: inline-flex;">
                            <button type="submit" class="btn btn-danger">Hapus</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          <% } else { %>
            <h3>Data masih Kosong !</h3>
          <% } %>
        </div>
      </div>
    </div>
    
  </div>
  
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    $('#folder').keypress(function (e) {
        var txt = String.fromCharCode(e.which);
        if (!txt.match(/[A-Za-z0-9. ]/)) {
            return false;
        }
    });
  </script>
</body>
</html>